

<!DOCTYPE html>
<html>
<head>
	<title>Movie Imdb API</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 style="text-align:center; margin-bottom: 40px; margin-top: 100px;">Search for a movie</h1>
			<div style="width: 30%; margin: 0 auto;">
				<!-- margin 0 for top and bottom and auto for left and right -->
				<form action="/results" method="GET">
					<input type="text" name="search" placeholder="search term">
					<button class="btn btn-lg btn-default btn-info">Submit</button>
				</form>
		
		</div>
	</div>
</div>


</body>
</html>
